<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">


	<listeners>
		<listener class-name="ExtentReportListener.ExtentReportListener" />
		<listener class-name="Analyzer.Transformer" />
		<listener class-name="utilities.TestAllureReportListner" />
	</listeners>
	
  <test name="Test">
    <classes>
     <class name="testcases.LoginPageTest"/>
      <class name="testcases.HomePageTest"/>
      
<!--         <class name="testcases.ContactsPageTest"/> -->
         
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
